body {
	font: 14px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #000;
	background: #d1d1d1;
}

a {
	text-decoration: none;
	&:hover, .active{
	text-decoration: underline;
	}
}

a:active, a:focus,input:active, input:focus {
	outline:0;
}


#header {
	position: relative;
	overflow:hidden;
	width:100%;
	height:568px;
	img {
			position:absolute;
			left:0;
			width:1420px;
	}
}

#title {
	position: absolute;
  top: 50%;
	width: 100%;
	-webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
	color: #fff;
	line-height: 1.2;
	text-align: center;
	h1 {
		font-size: 40px;
		font-family: 'Pacifico', cursive;
		margin-bottom: 20px;
		font-weight:normal;
	}
	h2 {
		font-size: 20px;
		font-weight:normal;
	}
}


#footer {
	clear: both;
	padding: 50px 10px 50px 0;
	text-align: center;
	font-size: 12px;
}


h1, h2 {
	font-family: 'Josefin Sans', 'Noto Sans JP',serif;
}

img {
	width: 100%;
	height: auto;
}

section {
	clear:both;
	h2 {
		font-size: 22px;
		font-weight:normal;
		text-align: center;
	}
}

.inner {
	width: 94%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.col2 {
	text-align: center;
	li {
		display: inline-block;
		width: 100%;
		margin: 20px 0 20px 0;
		text-align: center;
	}
}


/* item1 PROFILE
------------------------------------------------------------*/
#item1 {
	dl {
		line-height: 1.2;
	}
	dt {
		clear: left;
		float: left;
		display: block;
		width: 30%;
		margin-right: 10%;
		margin-bottom: 20px;
		text-align: right;
		line-height: 1.6em;
	}
	dd {
		width: 60%;
		float: left;
		text-align: left;
		margin-bottom: 15px;
		line-height: 1.6em;
	}
}

.image {
	position: relative;
	overflow: hidden;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
		border: 0;
	}
}


/* item2 status
------------------------------------------------------------*/
#item2 {
	padding-top: 30px;
}

.status {
	width: 60%;
	margin: 0 auto;
	padding-bottom: 80px;
	.skill {
		font-size: 16px;
		font-weight: 500;
	}
	.skill_level {
		font-size: 18px;
		color: #2f68e4;
	}
}


/* item3 WORKS MESSAGE STORY
------------------------------------------------------------*/
#item3 {
	padding-top: 35px;
}

.col3 {
	li {
		margin-bottom: 50px;
	}
	img {
		max-width: 288px;
		display: block;
		margin: -5px auto 20px;
	}
}


/* item4 STORY & SUCCESS
------------------------------------------------------------*/
#item4 {
	background: url(bg2.jpg) no-repeat 100% 100% fixed;
	background-size: cover;
	-webkit-background-size: cover;
	color: #fff;
}
